$white: #FFFFFF;
$black: #000000;
$gray: #d4d4d4;
$orange: #ff7110;
$darker-orange: #d65300;
$overlay-color: #2c2d33;

$orange-theme-color: $orange;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$base-font: "weblysleek_uilight", sans-serif;
// break point
$small: 750px;
