
/**
 * ===================================================================
 * 04. preloader - (_preloader-1.scss)
 * -------------------------------------------------------------------
 */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151515;
  z-index: 3;
  height: 100%;
  width: 100%;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  padding: 0;
}
#loader:before {
  content: "";
  border-top: 11px solid rgba(255, 255, 255, 0.1);
  border-right: 11px solid rgba(255, 255, 255, 0.1);
  border-bottom: 11px solid rgba(255, 255, 255, 0.1);
  border-left: 11px solid $orange-theme-color;
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/**
 * loader animation - (_layout.scss)
 * ---------------------------------------------------------------
 */
.s-loader {
  margin: 1.2rem auto 3rem;
  width: 70px;
  text-align: center;
  -webkit-transform: translateX(0.45rem);
  -ms-transform: translateX(0.45rem);
  transform: translateX(0.45rem);
}
.s-loader > div {
  width: 1rem;
  height: 1rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: inline-block;
  margin-right: .9rem;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.s-loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.s-loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}



/**
 * ===================================================================
 * 09. header styles - (_layout.scss)
 *
 * -------------------------------------------------------------------
 */
header {
  position: fixed;
  min-height: 66px;
  z-index: 5;
}
header .row {
  position: relative;
  min-height: 66px;
}
header .top-bar {
  display: block;
  min-height: 66px;
  position: absolute;
  left: 90px;
  top: 0;
  width: 175px;
}
header .logo {
  float: left;
  margin-right: 50px;
  margin-top: 25px;
  position: relative;
}
header .logo span {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  text-shadow: none;
  color: $orange-theme-color;
  font-size: 2rem;
  font-family: "poppins-bold", sans-serif;
  height: 15px;
}

/**
 * menu toggle - (_layout.css)
 * -------------------------------------------------------------------
 */
.menu-toggle {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 13px;
  display: block;
  position: relative;
}
.menu-toggle span {
  display: block;
  background-color: $orange-theme-color;
  width: 24px;
  height: 3px;
  margin-top: -1.5px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  position: absolute;
  right: 8px;
  top: 50%;
  bottom: auto;
  left: auto;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.menu-toggle span::before, .menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  -ms-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  -ms-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}
.menu-toggle span::before {
  top: -8px;
  -moz-transition-property: top, transform;
  -o-transition-property: top, transform;
  -webkit-transition-property: top, transform;
  -ms-transition-property: top, transform;
  transition-property: top, transform;
}
.menu-toggle span::after {
  bottom: -8px;
  -moz-transition-property: bottom, transform;
  -o-transition-property: bottom, transform;
  -webkit-transition-property: bottom, transform;
  -ms-transition-property: bottom, transform;
  transition-property: bottom, transform;
}

/* is clicked */
.menu-toggle.is-clicked span {
  background-color: rgba(255, 0, 119, 0);
}
.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
  background-color: $orange-theme-color;
  -moz-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
  -ms-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
.menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navigation panel */
#main-nav-wrap {
  display: block;
  width: 100%;
  font-family: "poppins-medium", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 100%;
  left: 0;
}

/* dropdown nav */
.main-navigation {
  background: rgba(51, 47, 47, 0.85);
  padding: 24px 30px 42px;
  margin: 0;
  min-width: 150px;
  max-width: 350px;
  height: auto;
  clear: both;
  display: none;
}
.main-navigation > li {
  display: block;
  height: auto;
  text-align: left;
  padding: 0;
}
.main-navigation li a {
  display: block;
  color: #FFFFFF;
  width: auto;
  padding: 15px 0;
  line-height: 16px;
  border: none;
}
.main-navigation li a:hover {
  color: $orange-theme-color;
  padding-left: 1rem;
}
.main-navigation li.current > a {
  background: none;
  color: $orange-theme-color;
}

/**
 * responsive:
 * header styles
 * ---------------------------------------------------------------
 */
@media only screen and (max-width:1024px) {
  header .top-bar {
    left: 60px;
  }
}
@media only screen and (max-width:768px) {
  header .top-bar {
    left: 50px;
  }
}
@media only screen and (max-width:600px) {
  header .top-bar {
    left: 35px;
  }
}
@media only screen and (max-width:520px) {
  header .top-bar {
    left: 0;
    width: 25px;
  }

  .logo{
    display: none !important;
  }
}