<section id="about">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>About</h5>
            <h1>Let me introduce myself.</h1>

            <div class="intro-info">
                <img src="assets/images/portfolio-pic.jpg" alt="Profile Picture">
                <p class="lead">Intrigued by code, design, traveling, photography, reading, art and even better
                    conversations. Always looking for a challenge, always looking to be inspired, to work hard
                    and make a positive impact.
                </p>
            </div>

        </div>
    </div>
    <div class="row about-content">
        <div class="col-six tab-full">

            <h3>Summary</h3>
            <p>I am a skilled and innovative developer with 8 years commercial experience who likes to
                think outside the box. I am proficient in Scrum / Agile environments with
                full exposure to the software development life cycle. Programming is my passion and profession and I
                would love to see myself in the technical space for the rest of my life.</p>

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Sinan Aumarah</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>{{ site.about.job_title }}</span>
                </li>
                <li>
                    <strong>Website:</strong>
                    <span><a href="{{ site.about.website_url }}">{{ site.about.website_domain }} </a></span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>{{ site.email }}</span>
                </li>

            </ul>

        </div>

        <div class="col-six tab-full">
            <h3>Skills</h3>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent95"><span>90%</span></div>
                    <strong>Agile</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Java</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Javascript</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Python</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>70%</span></div>
                    <strong>PHP</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>TDD/BDD</strong>
                </li>

            </ul>
        </div>
    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a href="#contact" title="Contact me" class="button button-primary smoothscroll">Contact Me</a>
        </div>
    </div>

</section>