<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Contact</h5>
            <h1>Get in touch.</h1>

            <p class="lead">If you'd like to make an enquiry, please feel free to get in touch, and I will respond as soon as possible.</p>

        </div>
    </div>

    <div class="row contact-form">

        <div class="col-twelve">
            <form name="contactForm" id="contactForm" method="post" action="https://formspree.io/sinan.wrk@gmail.com">
                <fieldset>
                    <input type="hidden" name="_subject" value="Someone contacted you from Github pages!!!"/>
                    <div class="form-field">
                        <input name="name" type="text" id="contactName" placeholder="Name" value="" minlength="2"
                               required="">
                    </div>
                    <div class="form-field">
                        <input name="_replyto" type="email" id="contactEmail" placeholder="Email" value=""
                               required="">
                    </div>
                    <div class="form-field">
                        <textarea name="message" id="contactMessage" placeholder="Message" rows="10" cols="50"
                                  required=""></textarea>
                    </div>
                    <div class="form-field">
                        <button class="submitform" type="submit">Submit</button>
                    </div>

                </fieldset>
            </form>
        </div>

    </div>

</section>