<head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Sinan Aumarah">
    <meta name="author" content="Sinan Aumarah">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="assets/css/main.css">


    <!-- <script src="assets/js/vendor/modernizr.js"></script> -->
    <script src="assets/js/vendor/pace.min.js"></script>

    <link rel="icon" type="assets/image/png" href="favicon.png">

</head>
