<section id="intro">

    <div class="intro-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">
                <h5>Hello, World.</h5>
                <h1>I'm Sinan Aumarah.</h1>

                <p class="intro-position">
                    <span id="typed-info"></span>
                </p>

                <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

            </div>

        </div>
    </div>
    <ul class="intro-social" id="intro-social">
        <li><a target="_blank" href="http://github.com/sinan-aumarah"><i class="fa fa-github"></i></a></li>
        <li><a target="_blank" href="http://stackoverflow.com/users/1606320/sinan-aumarah"><i
                class="fa fa-stack-overflow"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/sinan-aumarah/"><i
                class="fa fa-linkedin"></i></a>
        </li>
        <li><a target="_blank" href="http://facebook.com/sinankoo"><i class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/sinan.aumarah/?hl=en"><i class="fa fa-instagram"></i></a>
        </li>
    </ul>
    <canvas></canvas>
</section>